<!DOCTYPE html>
<html>
    <head>
        <style>
            table,td {border-style: solid;}
        </style>
        <title>GET and POST Checker</title>
    </head>
    <body>
        {{{body}}}
    </body>
</html>